{% extends "base.html.twig" %}
{% block body %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-4">
            <h4 class="title text-primary">
                Listes des clients ajoutés:
                <hr>
            </h4>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="{{path('add_client')}}" class="btn btn-primary">Ajouter nouveau add_client</a>
        </div>
    </div>
    <div class="card card-preview">

        <div class="card-inner">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                
                <div class="datatable-wrap my-3">
                    <table class="datatable-init table dataTable no-footer dtr-inline text-center" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row" class=" text-center">
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">#</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="">Nom</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Prénoms</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="">Email</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Contact</th>
                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" aria-sort="descending">Adresse</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}                       
                            <tr>
                                <td class="sorting_1">{{client.id}}</td>
                                <td class="sorting_1">{{client.nom}}</td>
                                <td class="sorting_1">{{client.prenom}}</td>
                                <td class="sorting_1">{{client.email}}</td>
                                <td class="sorting_1">{{client.contact}}</td>
                                <td class="sorting_1">{{client.adresse}}</td>
                                <td class="sorting_1">
                                    <a href="{{path('update_client',{id: client.id})}}" class="btn btn-primary sm-2">Modifier</a>
                                    <a href="{{path('delete_client', {id: client.id})}}" class="btn btn-danger sm-2">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}