{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="container my-5" style="border: 1px solid black;">
    <div class="logo">
        <center>
            <img src="{{asset('images/visualPatadigm.png')}}" style="width: 70px; border-radius:50%;" alt="">
            <h1 class="nav-link px-2 link-secondary">Bout'Ika</h1>
        </center>
    </div>
    <br>
    <div class="header" style="width: 90%;display: flex;align-items:space beetwen;">
        <div class="boutique" style="border: 2px solid black;width:500px;">
            <h2 class="title">Bout'Ika</h2>
            <div class="description">
                <p>Vente matérielle informatiques ANtsirabe Madagascar</p>
            </div>
            <div>
                <p>NIF: <strong>3002916608</strong></p>
                <p>STAT: <strong>3219712201800048</strong></p>
                <p>RCS: <strong>2021B0010</strong></p>
            </div>
        </div>
        <div class="client"style="margin-left:30%;">
            <div class="title">
                <h2 style="border: 1px solid black;width:110px;">Facture</h2>
                {% for historique in historiques %}
                <div style="border: 2px solid black;width:400px;">
                    <p>Date: <strong>{{historique.date | date('d-m-Y')}}</strong></p>
                    <p>N° Fact <strong>19-F/24</strong></p>
                    <p>Doit : <strong>{{historique.client.nom}}  {{historique.client.prenom}}</strong></p>
                    <p>email : <strong>{{historique.client.email}}</strong></p>
                    <p>tel : <strong>{{historique.client.contact}}</strong></p>
                    <p>Adresse: <strong>{{historique.client.adresse}}</strong></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="datatable-wrap my-3">
        {% for historique in historiques %}
        <table class="datatable-init table dataTable no-footer dtr-inline text-center">
            <thead>
                <tr class=" text-center">
                    <th class="sorting">QTE</th>                        
                    <th class="sorting">Désignation</th>
                    <th class="sorting">PU</th>
                    <th class="sorting">Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{historique.quantite}}</td>
                    <td>{{historique.produit.nom}}</td>
                    <td>{{historique.prixUnitaire}}</td>
                    <td>{{historique.prixUnitaire * historique.quantite}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h3>TOTAL : <strong>{{historique.prixUnitaire * historique.quantite}} Ariary</strong></h3>
        {% endfor %}
    </div>
    <br>
    <br>
    <p>Arrêté à la somme de : ....................................................................................................................................................</p>
    <br><br><br><br>
    <h3>Signature:</h3>
    <br><br><br>
    <a href="#" class="btn btn-primary">Imprimer la facture</a>
</div>
{% endblock %}
